html
{
	background:url("../images/main.jpg");
	background-size: auto;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: 50% 290%; 
}
.banner
{
	padding:0;
	margin:0;
	text-align:center;
}

body
{
	margin-left:auto;
	margin-right:auto;
    width:100%;
    color:white;
}

form
{
	margin:auto;
	text-align:left;
	display: inline-block;
}
main
{color: blue;}

#nav_bar ul
{
	margin-left:auto;
	margin-right:auto;
    overflow: hidden;
	list-style: none;
	padding: 1.5em 8em;
	margin-top:0;
	background-color: #0055bd;
	text-align:center;
	float: none;
}	
#nav_bar li
{
	display: inline;
	float: none;
}
#nav_bar a
{
	padding: 1em 1em;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 16px;
	/*border-right: 4px solid white;
	/*border-left: 4px solid white;*/
}

#one
{
	position:absolute;
	left:50%;
	clear:left;
}

#three
{
	position:absolute;
	left:30%;
}


#button
{
	position: relative;
	left: 140px;
	color:#bd0000 ;
	padding: 10px 20px;
	border: #bd0000;
	font-weight: bold;
	
}
#button:hover
{
	background: white;
}

#button2{
	width: 350px;
	color:white;
	background-color:#0055bd;
	border:black;
	border-radius:12px;
	height: 70px;
	padding: 14px 40px;
	text-align: center;
	margin:auto;
	display:block;
	font-size:20px;	
}

#button2:hover{background:silver;}

#Table
{
	margin:auto;
	margin-top:15px;
	width: 65%;
}
fieldset{color: #ffffff;}
label{color: #ffffff;}
label:after{content: ": ";}

table, th, td
{
	border: 2px solid black;
	background-color: #0055bd;
	border-collapse: collapse;
	color:white;
	margin: 0 auto;
}
th
{
	text-align: left;
}


h1{
    color: blue;
    font-size: 75px;
}

h2{
    color: blueviolet;
    font-size: 40
}

strong{
    font-size: 25px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


